<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
   <img src="<% imgUrl %>">
 
 <!--  SINGLE FILE -->
 <h1>SINGLE FILE</h1>
 <form method="POST" action="/upload" enctype="multipart/form-data">
    <div>
        <label>Select your profile picture:</label>
        <input type="file" name="image" />
    </div>
    <div>
        <input type="submit" name="btn_upload_profile_pic" value="Upload" />
    </div>
</form>
 
 
<!-- MULTIPLE FILES -->
<h1>MULTIPLE FILES</h1>
<form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
    <div>
        <label>Select multiple images:</label>
        <input type="file" name="multiple_images" multiple />
    </div>
    <div>
        <input type="submit" name="btn_upload_multiple_images" value="Upload" />
    </div>
</form>
 
 
</body>
</html>
